
    background: #17b782;
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17b782;
    text-align: center;
}

footer img {
    width: 60px;
    padding: 10px;
}